<%= link_to 'Get Contacts', contacts_path, class: 'btn btn-primary', remote: true %>

<div id="contact_list">
  <%= render 'contacts/contact_list' %>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
  $('#myModal').on('show.bs.modal', function (event) {
  var button = $("#contact_data") // Button that triggered the modal
  var id = button.data('contact-id') // Extract info from data-* attributes
  var phone = button.data('phone-mobile-international')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + phone)
  })
</script>
